<div *ngFor="let product of products.data | slice:0:3; let i=index">
    <mat-card class="card" >
        <div class="image">
            <img mat-card-image src="../../assets/pic.jpg" alt="Product Image">
        </div>
        <!-- <mat-card-title > {{product.name}} </mat-card-title> -->
        <!-- <mat-card-title > {{product.category.categoryName}} </mat-card-title> -->
        <hr>
        <div fxLayout="row" fxLayoutAlign=" center" >
            <!-- <mat-card-title > {{product.price}} </mat-card-title>
            <mat-card-title > {{product.currency}} </mat-card-title> -->
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add to Cart</button>
            <button mat-raised-button color="warn">Product Details</button>
        </mat-card-actions>
    </mat-card>
</div>