.image{
    height: 230px;
    width: 300px;
    margin-left: 25px;
}
.card{
    width: 350px;
}
.name{
    color: rgb(58 5 20);
    text-align: center;
}
.category{
    color: rgb(58 5 20);
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 400;
}
.price, .currency{
    color: rgb(58 5 20);
    text-align: center;
    font-size: 22px;
}