.faq a,.shipping a{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
  }
  .row-1{
    height: 220px;
    background-color: rgb(58 5 20);
    width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
  .col-1{
    padding-left: 220px;
  }
  .col-2, .col-3, .col-4{
    padding-left: 150px;
  }
  .col-2 div, .col-3 div{
    color: #fff;
  }
  .social{
    color: #fff;
    text-decoration: underline;
  }
  hr{
    margin-top: 10px;
    width: 100%;
  }
  .icon{
    color: #fff;
  }
  .copy{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .social-1 a{
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
  }