<mat-toolbar>
    <mat-toolbar-row class="row-1" >
        <div>
            <div fxLayout="row">  
                <!-- use flex like this to use fxFlex  -->
                <div fxLayout="column" fxFlex="100" class="col-1">
                    <div class="shipping">
                        <a href="">FAQ</a>
                    </div>
                    <div fxFlex="10"></div>
                    <div class="shipping">
                        <a href="">Shipping & Returns</a>
                    </div>
                    <div fxFlex="10"></div>
                    <div class="shipping">
                        <a href="">Store Policy</a>
                    </div>
                    <div fxFlex="10"></div>
                    <div class="shipping">
                        <a href="">Payments</a>
                    </div>
                </div>
                <div fxLayout="column" fxFlex="100" class="col-2" >
                    <div class="shopkaro">ShopKaro</div>
                    <div class="mobile">Mobile 9525887776</div>
                    <div class="email">Email shopkaro2021@gmail.com</div>
                </div>
                <div fxLayout="column" fxFlex="100" class="col-3" >
                    <div class="address">
                        Address
                    </div>
                    <div class="address-1">
                        Khora Colony, Sector-62
                    </div>
                    <div class="address-2">
                        Noida, Uttar Pradesh
                    </div>
                    <div class="address-2">
                        India, 110096
                    </div>
                </div>
                <div fxLayout="column" fxFlex="100" class="col-4" >
                    <div class="social">
                        Social links
                    </div>
                    <div class="social-1">
                        <a href="">Facebook</a>
                    </div>
                    <div class="social-1">
                        <a href="">Twitter</a>
                    </div>
                    <div class="social-1">
                        <a href="">YouTube</a>
                    </div>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="17"></div>
                <hr>
            </div> 
            <div fxLayout="row" fxLayoutAlign="center center" >
                <div fxFlex="20"></div>
                <mat-icon class="icon">copyright</mat-icon>
                <div fxFlex="1"></div>
                <div class="copy">2021-22 ShopKaro</div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
