<!-- <div fxLayout="row" fxLayoutAlign="space-around center" class="form-container">
    <div>
        <mat-card class="matCard">
            <div class="form-register">
                Register
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="space-around center" >
                    <div class="formEmail" fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                        <mat-form-field appearance="fill" class="formCard">
                            <mat-label>Enter your email</mat-label>
                            <input formControlName="email" matInput placeholder="aghaz@example.com" required>
                        </mat-form-field>
                    </div> 
                    <div class="formFullname" fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                        <mat-form-field appearance="fill" class="formCard">
                            <mat-label>Enter your Name</mat-label>
                            <input formControlName="name"  matInput placeholder="Aghaz junaid" required>
                        </mat-form-field>
                    </div>
                    <div class="formMobileNo" fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                        <mat-form-field appearance="fill" class="formCard">
                            <mat-label>Enter your Mobile Number</mat-label>
                            <input formControlName="mobileNo"  matInput placeholder="9525887776">
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="fill" class="formCard">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option value="Male">Male</mat-option>
                          <mat-option value="Female">Female</mat-option>
                          <mat-option value="Others">Others</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="formCard">
                        <mat-label>Enter your password</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Conform Password" required>
                    </mat-form-field>
                    <div>
                        <button mat-stroked-button class="formButton">
                              <a>Register</a>
                        </button>
                    </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="center center" class="text-2" >
                    Have already an account? 
                    <button mat-button class="loginBtn">Login here</button>
                </div>
            </form>
        </mat-card>
    </div>
</div> -->
